<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand">SM Infotech</a>

  <ul class="navbar-nav ms-auto d-flex flex-row gap-4">

    <li>
      <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
    </li>

    <li>
      <a routerLink="/about" href="#" class="nav-link">About</a>
    </li>

    <li>
      <a routerLink="/services" routerLinkActive="active" class="nav-link">Services</a>
    </li>

    <li>
      <a routerLink="/projects" routerLinkActive="active" class="nav-link">Projects</a>
    </li>

    <li>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
    </li>

  </ul>
</nav>