<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">

  <a class="navbar-brand">SM Infotech</a>

  <ul class="navbar-nav ms-auto d-flex flex-row gap-4">

    <li>
      <a routerLink="/" class="nav-link">Home</a>
    </li>

    <li>
      <a routerLink="/about" class="nav-link">About</a>
    </li>

    <li>
      <a routerLink="/services" class="nav-link">Services</a>
    </li>

    <li>
      <a routerLink="/projects" class="nav-link">Products</a>
    </li>

    <li>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </li>

    <li>
      <a routerLink="/login" class="btn btn-primary ms-3">Login</a>
    </li>

  </ul>

</nav>