<section class="min-h-screen flex items-center justify-center bg-[#0f172a]">

  <div class="bg-[#111827] p-8 rounded-2xl shadow-xl w-full max-w-md">

    <h2 class="text-3xl font-bold text-white text-center mb-6">
      Create Account
    </h2>

    <form (ngSubmit)="signup()" class="space-y-4">

      <input
        [(ngModel)]="name"
        name="name"
        placeholder="Full Name"
        class="w-full p-3 rounded-lg bg-[#1f2937] text-white outline-none"
      />

      <input
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        class="w-full p-3 rounded-lg bg-[#1f2937] text-white outline-none"
      />

      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Password"
        class="w-full p-3 rounded-lg bg-[#1f2937] text-white outline-none"
      />

      <button
        type="submit"
        class="w-full bg-gradient-to-r from-purple-500 to-cyan-500 p-3 rounded-lg text-white font-semibold">
        Sign Up
      </button>

    </form>

    <p class="text-gray-400 text-center mt-4">
      Already have an account?
      <a routerLink="/login" class="text-purple-400">Login</a>
    </p>

  </div>

</section>